@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button-image {
  transition: transform 0.3s ease;
  border-radius: 50%;
}

.button-image:active {
  transform: scale(0.95);
}

.marquee {
  width: 100%;
  height: 40px;
  overflow: hidden;
  position: relative;
}

.marquee-inner {
  width: 200%;
  height: 40px;
  position: absolute;
  animation: marquee 10s linear infinite;
}

.marquee-inner span {
  float: left;
  width: 50%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}

.flash {
  animation: flashAnimation 5s forwards;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999 !important;
}

@keyframes flashAnimation {
  0% {
    background-color: white;
  }

  100% {
    background-color: black;
  }
}

.motivation-enter {
  animation: motivation-slide-up 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.motivation-exit {
  animation: motivation-slide-down 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes motivation-slide-up {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

@keyframes motivation-slide-down {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.speech-bubble {
  display: inline-block;
  position: relative;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  border: 2px solid #000;
  max-width: 80%;
  left: 40%;
  top: -240px;
  transform: translateX(-50%);
}

.speech-bubble-text {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}

.dude3-image {
  max-width: 50%;
  height: auto;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 999;
}

@media (max-width: 768px) {
  footer {
    display: none;
  }
}

.errorhand-image {
  max-width: 35%;
  height: auto;
  /* animation: slide-up 2s ease-out forwards; */
}

.slide-up {
  animation: slide-up 1s ease-out forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.object-fit-contain {
  object-fit: contain;
  object-position: center;
}

.object-cover2 {
  object-fit: contain;
  left: 50;
  top: 50;
  height: 50%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}